.reactSkeleton {
  &::before {
    content: "\00a0";
  }
  animation: pulse 1.2s ease-in-out infinite;
}


@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
